.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs_items {
    padding: 10px;
    color: white;
}

.dialogs .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: white;
}

.dialog {
    color: white;
    text-decoration: none;
}

.dialog:visited {
    text-decoration: none;
}